.text__subtitle {
    font-family: "Teko", sans-serif;
    color: var(--subtitle-text-color);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

.text__description {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--subtitle-light-color);
    margin-top: 13px;
}

.beer-boutique__block {
    width: 100%;
    min-width: 480px;
    min-height: 472px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/about/people-with-beer.png);
    background-size: cover;
    background-position: center;
}

.beer-boutique__content {
    padding: 130px 0;
    margin: 0 20px;
}

.beer-boutique__play-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--background-light-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.play-button__triangle {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 19px solid black;
}

@media (min-width: 750px) {
    .text__subtitle{
        font-size: 51px;
    }

    .beer-boutique__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .beer-boutique__play-button {
        width: 100px;
        height: 100px;
        margin-top: 0;
        display: flex;
        justify-content: center;
    }

    .play-button__triangle {
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 24px solid black;
    }

    .beer-boutique__content {
        padding: 190px 0;
    }
}

@media (min-width: 1000px) {
    .text__subtitle{
        font-size: 62px;
    }

    .beer-boutique__content {
        padding: 260px 0;
        margin: 0;
        gap: 500px;
    }
    .beer-boutique__block {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}