.about-beer {
    margin-bottom: 120px;
}

.about-beer__container {
    background-image: url(../img/menu/bg_menu.webp);
    background-size: cover;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourstory__img {
    width: 100%;
    background-size: cover;
    height: 442px;
    background-image: url('../img/about/boyandgirl.webp');
}

.about-beer__container p {
    font-family: "Teko", sans-serif;
    color: var(--paragraph-text-dark-color);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.ourstory__plaintext {
    padding: 90px 45px;
}

.ourstory__subtitle {
    font-family: "Teko", sans-serif;
    color: var(--subtitle-text-color);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 20px;
}

.ourstory__description {
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--subtitle-light-color);
    margin-top: 25px;
}

.ourstory__text {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--text-light-color);
    margin-top: 25px;
}

@media (min-width: 768px) {
    .ourstory__title {
        font-size: 28px;
    }

    .about-beer__container {
        min-height: 130px;
    }

    .about-beer__container p {
        font-size: 61px;
    }

    .about-beer__ourstory {
        display: flex;
        gap: 15px;
    }

    .ourstory__subtitle {
        font-size: 51px;
    }

    .ourstory__plaintext {
        display: block;
        max-width: 570px;
        min-width: 335px;
        margin: 0 auto;
        padding: 105px 15px;
    }

    .ourstory__img {
        width: 50%;
        background-size: cover;
        height: 625px;
        background-image: url('../img/about/boyandgirl.webp');
    }

    .about-beer__ourstory img {
        width: 50%;
    }

    .ourstory__plaintext {
        width: 50%;
        ;
    }

    .ourstory__img {
        background-position: center;
    }
}

@media (min-width: 1100px) {
    .ourstory__subtitle {
        font-size: 61px;
    }

    .about-beer__ourstory {
        gap:45px;
    }
}