.navigation-map {
    filter: grayscale(100%) invert(100%);
    height: 575px;
    width: 100%;
    max-width: 545px;
    margin: 0px;
}

.map__iframe{
    height: 575px;
    width: 100%;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 130px;
    max-width: 1200px;
}

.form-background {
    background-color: var(--background-dark-color);
    padding: 50px 70px;
    height: 575px;
    width: 100%;
    max-width: 545px;
}

.reservation-form {
    max-width: 405px;
    margin: 0;
}

.reservation-form__input {
    display: block;
    width: 100%;
    padding: 21px 40px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-image: url(../img/bg.png);
    color: var(--subtitle-text-color);
}

::-webkit-calendar-picker-indicator {
    background-color: var(--subtitle-text-color);
}

.reservation-form__submit {
    width: 100%;
    background-color: var(--accent-text-dark-color);
    color: var(--background-dark-color);
    padding: 21px 40px;
    margin-top: 32px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .navigation-map {
        height: 520px;
        max-width: 100%;
}

    .map__iframe {
        height: 520px;
        max-width: 100%;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 10px 24px 60px;
    }

    .form-background {
        padding: 43px 55px;
        height: 435px;
        max-width: 100%;
    }

    .reservation-form {
        max-width: 610px;
        margin: 0;
    }

    .reservation-form__submit {
        width: 100%;
        padding: 21px 40px;
        margin-top: 32px;
        border-radius: 5px;
        cursor: pointer;
    }
}