.footer__logo-image {
    width: 180px;
}

.footer__column {
    padding: 40px 0;
}

.footer__social-icons svg {
    width: 32px;
    height: 32px;
    fill: var(--background-light-color);
    fill-rule: evenodd;
    margin-top: 10px;
    margin-right: 10px;
}

.footer__social-icons a {
    text-decoration: none;
}

.footer__text svg path {
    width: 32px;
    height: 32px;
    fill: var(--title-text-color);
    fill-rule: evenodd;
    margin-right: 10px;
}

.footer__text svg polygon {
    width: 32px;
    height: 32px;
    fill: var(--title-text-color);
    fill-rule: evenodd;
}
.footer__text svg{
    vertical-align: middle;
    margin-right: 10px;
}

.footer__column-title{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    color: var(--subtitle-text-color);
    font-family: "Teko", sans-serif;
    margin-bottom: 10px;
}

.footer__description {
    margin-top: 10px;
    max-width: 300px;
    white-space: pre-line;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__link {
    color: var(--text-light-color);
}

.footer__link-item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer__text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer__nav {
    padding: 30px;
    background-color: var(--background-dark-color);
}


    