* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --title-text-color: #ffc123;
    --subtitle-text-color: #ffffff;
    --accent-text-light-color: #ffffff;
    --accent-text-dark-color: #ffc123;
    --paragraph-text-light-color: #9d9d9d;
    --paragraph-text-dark-color: #111111;
    --background-dark-color: #000000;
    --background-light-color: #ffc123;
    scroll-behavior: smooth;
}

a {
    color: var(--paragraph-text-color);
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: var(--background-dark-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}