@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --title-text-color: #ffc123;
    --subtitle-text-color: #ffffff;
    --accent-text-light-color: #ffffff;
    --accent-text-dark-color: #ffc123;
    --text-light-color: #9d9d9d;
    --subtitle-light-color: #cccccc;
    --paragraph-text-dark-color: #111111;
    --background-dark-color: #000000;
    --background-light-color: #ffc123;
    --background-transparent-color: #0000009c;
    --hover-button-color:#edb31f;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    color: var(--background-light-color);
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
}

p {
    font-family: "Open Sans", sans-serif;
    color: var(--text-light-color);
}

header {
    background-color: var(--background-dark-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(../img/bg.png);
}
img {
    width: 100%;
    
}