.header__social-icons svg {
    width: 32px;
    height: 32px;
    fill: var(--background-light-color);
    fill-rule: evenodd;
}

.header__social-icons a {
    text-decoration: none;
}

.header__social-icons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__logo-image {
    width: 180px;
}

.header__menu a {
    color: var(--text-light-color);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.header__menu a:hover {
    color: var(--accent-text-light-color);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
}

.header__logo-container {
    padding: 40px 0;
}

.header__nav {
    padding: 0 24px;
}

.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__video {
    color: var(--subtitle-text-color);
}

.header__button.button {
    display: inline-block;
    padding: 25px 55px;
    background-color: var(--background-light-color);
    color: var(--paragraph-text-dark-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-top: 40px;
}

.header__button.button:hover {
    text-decoration: none;
    background-color: var(--background-light-color);
    filter: brightness(0.9);
}

.header__content {
    padding: 130px 0 110px 0;
}

.header__social-link {
    margin: 0 7.5px;
}

.header__tagline{
    font-family: "Shadows Into Light";
    font-size: 14px;
    font-weight: 400;
}

.header__title{
    font-family: "Teko", sans-serif;
    font-size: 62px;
    font-weight: 400;
    margin-top: 20px;
}

.header__description {
    font-size: 19px;
    margin-top: 40px;
}

@media (min-width: 990px) {
    .header__nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .header__menu.menu li {
        margin: 10px 15px;
    }

    .header__video {
        display: flex;
    }

    .header__social-icons {
        margin-top: 0;
    }

    .header__content {
        padding: 250px 15px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .header__tagline{
        font-size: 28px;
    }

    .header__title{
        font-size: 128px;
    }
    
    .header__button.button {
        max-width: 230px;
    }
}