.friday-deal {
    background-image: url(../img/black-friday-background.png);
    max-width: 1120px;
    max-height: 530px;
    margin: 65px auto 130px;
    padding: 90px 80px 90px;
    box-sizing: border-box;
    text-align: center;
}

.friday-deal__discount {
    font-size: 28px;
    color: var(--discount-color);
    font-family: "Shadows Into Light", undefined;
    align-items: center;
}

.friday-deal__title {
    font-size: 128px;
    color: var(--paragraph-text-dark-color);
    font-family: "Teko", sans-serif;
    align-items: center;
}

.friday-deal__description {
    font-size: 19px;
    color: var(--discount-color);
    font-family: "Open Sans", sans-serif;
    align-items: center;
}

.friday-deal__link {
    font-size: 12px;
    font-weight: bold;
    color: var(--accent-text-light-color);
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    padding: 20px 40px;   
    background-color: var(--paragraph-text-dark-color);
    text-decoration: none;
    align-items: center;
}

.friday-deal__link:hover {
    background-color:  gray;
}

@media (max-width: 1200px) {
    .friday-deal {
        margin: 65px 24px 130px;
        padding: 90px 80px 90px;
    }

    .friday-deal__discount {
        font-size: 28px;
    }

    .friday-deal__title {
        font-size: 128px;
    }

    .friday-deal__description {
        font-size: 19px;
    }

    .friday-deal__link {
        font-size: 12px;
    }
}

@media(max-width: 767px) {
    .friday-deal {
        margin: 65px 24px 90px;
        padding: 51px 47px 51px;
    }

    .friday-deal__discount {
        font-size: 14px;
    }

    .friday-deal__title {
        font-size: 62px;
    }

    .friday-deal__description {
        font-size: 19px;
    }

    .friday-deal__link {
        font-size: 12px;
    }
}

@media(max-width: 320px) {
    .friday-deal {
        margin: 65px 24px 90px;
        padding: 51px 47px 51px;
    }

    .friday-deal__discount {
        font-size: 14px;
    }

    .friday-deal__title {
        font-size: 62px;
    }

    .friday-deal__description {
        font-size: 19px;
    }

    .friday-deal__link {
        font-size: 12px;
    }
}
