.container.special-offers__container {
  display: flex;
}

.special-offers {
  background-image: linear-gradient(black, black),
    url("../img/price/fridaymenu.png");
  background-size: cover;
  background-blend-mode: saturation;
  background-attachment: fixed !important;
  scroll-behavior: smooth;
}

.special-offers__banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-offers__image {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.special-offers__images {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.special-offers__menu {
  display: block;
  opacity: 1;
  flex-direction: column;
  background: rgba(17, 17, 17, 0.76);
  justify-content: center;
  height: 100%;
  padding: 20px 10px 20px 10px;
  margin: auto 0;
}

.special-offers__title,
.special-offers__info {
  text-align: center;
}

.special-offers__beer-snacks {
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  justify-content: space-between;
}

.special-offers__beer,
.special-offers__beer-snacks {
  display: flex;
}

.divider {
  flex: 1;
  border-bottom: 1px dotted white;
}
