.latestpost {
    color: var(--background-light-color);
    padding: 120px 0 65px;
}
.latestpost__title {
    font-size: 28px;
    text-align: center;
    min-width: 370px;
    margin: 0;
}
.latestpost__category {
    font-size: 62px;
    text-align: center;
    font-family: "Teko", sans-serif;
    color: var(--subtitle-text-color);
    min-width: 370px;
    margin: 0;
}
.latestpost__description{
    font-size: 19px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: var(--subtitle-light-color);
    min-width: 370px;
    margin: 0;
}
.latestpost__general {
    display: grid;
    gap: 30px;
    padding: 40px;
}
@media (min-width: 450px) {
    .latestpost__general {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 700px) {
    .latestpost__general {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    .latestpost__general {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.latestpost-event-tasting {
    background: url(../img/latestpost/bar-view.webp);
    background-size: cover;
    background-position: center;
}

.latestpost-beer-blog {
    background: url(../img/latestpost/the-waiter-pours-the-beer.webp);
    background-size: cover;
    background-position: center;
}

.latestpost-irish-festival {
    background: url(../img/latestpost/three-people-are-sitting.webp);
    background-size: cover;
    background-position: center bottom;
}
.container {
    margin: auto;
    max-width: 1200px;
}
.latestpost-class-title {
    font-size: 54px;
    text-align: center;
    font-family: "Teko", sans-serif;
    color: var(--subtitle-text-color);
    padding: 10px 0 0;
}

.latestpost-class-category {
    font-size: 17px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: var(--subtitle-text-color);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.latestpost-class-description {
    position: absolute;
    bottom: 9px;
    left: 30%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--link-menu-text-color);
}