.food__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.food__cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.food__card-container {
  flex: 0 0 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.food-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 30px;
  cursor: pointer;
  fill: var(--hover-button-color);
  background-color: transparent;
}


@media (min-width: 768px) {
  .food__card-container {
    flex: 0 0 50%;
  }
  .food__card-container {
    padding: 0 30px;
  }
}
@media (min-width: 992px) {
  .arrow-svg_1j4 {
    background-color: transparent;
  }
}

.button-prev .arrow-svg_1j4 {
  transform: rotate(180deg);
 
}
button.button-prev {
  background-color: unset;
  border-style: hidden;
}
button.button-next {
  background-color: unset;
  border-style: hidden;
}